

.botomIcons {
	color: $color_1;
	min-height: 3rem;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	align-items: center;
}
.card {
    background-color: rosybrown;
}
.biowhite {
    color: bisque;
}
.videoCelta {
    font-family: 'Shadows Into Light', cursive;
    
}

