

header {
	.nav-link { color: rosybrown;
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.botonMio {
	background-color: $background-color_1;
	color: $color_1;
	&:hover {
		background-color: $background-color_1;
		color: $color_2;
		border: 1px solid chocolate;
	}
}
h1 {
	color: $color_3;
	font-family: $font-family_1;
}
.fondoHeader{
    background-image: url(../img/espacio.jpg);
}

    

.logoMio {
    width: 20%;
    height: 20%;   
}
}


