.fondoHeader{
    background-image: url(../img/espacio.jpg);
}
.fondoindex {
    background-color: #FADBD8;
}
.fondoblog {
    background-image: url(../img/mar2.jpg);
}

.fondohistoria {
    background-image: url(../img/montaña.jpg);
}
.fondocosmos {
    background-image: url(../img/atardecer.jpg);
}