

$color-principal: rosybrown;
$color_2: black
$color_3: $color-principal;
$font-family_1: 'Shadows Into Light', cursive;
$color_1: blue;
$color_1: black;
$font-family_1: Verdana, Geneva, Tahoma, sans-serif;
$background-color_1: #E5E7E9;
$color_1: black;
$font-family_1: Verdana, Geneva, Tahoma, sans-serif;
$background-color_1: #E5E7E9;

